extends layout

block content
  .uk-container.uk-container-expand.uk-align-center
    .uk-card.uk-card-body
      article.uk-article
      h1.uk-article-title
        a.uk-link-reset(href='') What we're all about.
      p.uk-article-meta
        | Written by 
        a(href='https://wileys.website') Wiley McKay Conte
        |  on 11 November 2018. 
      p.uk-text-lead
        | We're leveraging massive weather data sets to provide finely tuned snow forecasts.  By analyzing time series weather data, we've created an incredibly reliable forecast engine to help you get the most out of your winter season.
      p
        | We'll tell you when and where you are most likely to experience the best snow.  We'll also alert you well in advance when we detect a storm that is likely to dump heaps of pow.
      .uk-grid-small.uk-child-width-auto(uk-grid='')
        div
          a.uk-button.uk-button-text(href='#', style='color: grey') Get in touch
        div
          a.uk-button.uk-button-text(href='#', style='color: grey') 5 Comments
