extends layout

block content
  
  div.uk-card.uk-card-body.uk-box-shadow-medium
    iframe#caic_fx_map(name='caic_fx_map', src='http://avalanche.state.co.us/caic/fx_map.php', width='495px', height='565px', scrolling='no', marginwidth='0', marginheight='0', frameborder='0', vspace='0', hspace='0')
    br
    img(src='http://avalanche.state.co.us/caic/images/map-danger-scale.png')
