footer Powder Intelligence.  Shred Smarter.
  div(class='uk-width-1-2@s uk-width-2-5@m')
    ul.uk-nav.uk-nav-default
      li.uk-nav-header(style="color:ffcccc") Whats up?
      li
        a(style="color: white;") Advertisers
      li
        a(style="color: white;") Contact Us
